<div class="container">
    <img src="~/Imagens/faleconosco1.jpg"/>
    <div class="jumbotron">
        <h3>Queremos ouvir o que você tem a dizer</h3>
        <p>
            Se você tiver alguma dúvida ou sugestão fale conosco
        </p>
        <p>
            <span>
                <img src="~/Imagens/Envelope-icon24.png"/>
            </span>
            <h5><email endereco="lucasteles_ccb@yahoo.com.br" conteudo ="Enviar um e-mail"></email></h5>
            <br />
            <span>
                <img src="~/Imagens/phone-app-icon.png"/>
            </span>
            <h5>(21) 975518853</h5>
            <br />
            <span>
                <img src="~/Imagens/Home-iconred.png"/>
            </span>
            <h5>Rua Projetada Moreira Soares 110 - 21843000 - Rio de Janeiro</h5>
        </p>
    </div>
</div>